@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url('./Inter.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  src: url('./Inter-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  src: url('./Montserrat.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  src: url('./Montserrat-italic.ttf') format('truetype');
}


* {
  font-family: 'Inter', sans-serif;
}
