**/node_modules
**/dist
**/.vite
**/.cache
**/*.tsbuildinfo
**/coverage
**/logs
docker/data
backend/docker/data
.git
.gitignore
.env
backend/.env
backend/.env.test
frontend/.env
npm-debug.log*
Dockerfile
docker-compose*.yml
