# --- app ---
NODE_ENV=development
PORT=3000
LOG_LEVEL=info

# --- db ---
DATABASE_URL=postgresql://admin:admin123@localhost:5432/neobooru?schema=public

# --- redis ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- minio ---
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET=media
MINIO_PRESIGN_EXPIRES=3600 # in seconds

# --- JWT ---
JWT_SECRET=af584efb1b70b3296af8d2dc85dbfd813996765305564b50  # minimum lenght is 32 symbols
JWT_EXPIRES_IN=900 # in seconds
JWT_REFRESH_SECRET=af584efb1b70b3296af8d2dc85dbfd813996765305564b52  # minimum lenght is 32 symbols
JWT_REFRESH_EXPIRES_IN=2592000 # in seconds

# --- uploads ---
MAX_UPLOAD_BYTES=104857600 # limit in bytes

# --- prisma SEED ---
SEED_DEV_USERS=true

SEED_ADMIN_EMAIL=admin@local.dev
SEED_ADMIN_USERNAME=admin # minimum 3 symbols
SEED_ADMIN_PASSWORD=admin12345 # minimum 8 symbols

SEED_USER_EMAIL=user@local.dev
SEED_USER_USERNAME=user # minimum 3 symbols
SEED_USER_PASSWORD=user12345 # minimum 8 symbols

# --- logging ---
LOG_DIR=./logs
LOG_TO_FILE=true
LOG_CONSOLE_FORMAT=pretty
LOG_FILE_FORMAT=json
LOG_PRETTY_COLOR=true
LOG_HTTP_HEADERS=false
LOG_HEALTHCHECKS=false

LOG_APP_FILE_BASENAME=app.log
LOG_ACCESS_FILE_BASENAME=access.log
LOG_ERROR_FILE_BASENAME=error.log

LOG_ROTATE_INTERVAL=1d
LOG_ROTATE_SIZE=50M
LOG_MAX_FILES=14
