$accent-color: #1AB6A9;
$accent-color-dark: #132827;

$background-color: #0A0A0A;
$background-color-lighter: #111213;
$background-color-light: #17171A;

$stroke-color: #202020;
$stroke-color-accent: #0D5F58;

$text-color-light: #FFFFFF;
$text-color-lighter: #7E7E7E;
$text-color-dark: #676767;
$text-color-black: #050404;